body {

    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #fff;
    height: 90px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;

}

.navBarElement {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    text-align: center;
    line-height: 28px;
    color: black;
    font-weight: bold;
}

.navBarContact {
    background-color: #e6bd43;
    padding: 10px;
    width: fit-content;
    margin: auto;
}

.navBarContact:hover {
    color: #e6bd43;
    background-color: black;
}

.navLogo {
    justify-self: left;
    padding-left: 10px;
    padding-top: 4px;

}

.logo {
    height: 80px;
    justify-self: left;

}

#navbarNav {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 1rem;
}

h2 {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: black;
    font-weight: bolder;
}

h3 {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: black;
    font-weight: bolder;
}

h4 {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: black;
    font-weight: bolder;
}

p {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

#headline {
    display: flex;
    flex-direction: column;
    background-color: #d8d8d8;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    justify-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

#subheading {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    justify-items: center;
    justify-content: center;
    padding-bottom: 2rem;

}

#aboutIndex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
}

#aboutIndexInfo {
    padding-left: 1rem;
    padding-bottom: 1rem;

}

.aboutButton {
    padding: 7px;
    text-decoration: none;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: black;
    font-weight: bold;
    border: solid;
}

#services {
    text-align: center;
    flex: 1;
    padding-top: 1rem;

}

#servicesItems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1rem;
    padding-bottom: 2rem;


}

.servicesItemElement {
    flex: 1 1 0;
    flex-basis: 0;

}

#newsletter {
    background-color: #e7e7e7;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

#newsletterText {
    width: fit-content;
    height: 39px;
    border: 0;
    padding: 0;
    padding-top: 2px;
    margin: auto;
}

.newsletterButton {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    text-align: center;
    line-height: 28px;
    color: black;
    font-weight: bold;
    background-color: #e6bd43;
    padding: 10px;
    width: fit-content;
    margin: auto;
}

.newsletterButton:hover {
    color: #e6bd43;
    background-color: black;
}

#aboutAbout {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 1rem;
    background-color: #d8d8d8;
}

#aboutAboutArticle {
    background-color: #fff;
    padding: 1rem;
    max-width: 50%;
    min-height: 340px;

}

#clients {
    background-color: #e6bd43;
    text-align: center;
    flex: 1;
    padding: 2rem;

}

#clientsItems {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1rem;
    padding-bottom: 2rem;
    padding-top: 2rem;


}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 5rem;
    background-color: #d8d8d8;
}

#contactInfo {
    display: flex;
    font-family: 'Lato', sans-serif;
    flex-direction: row;
    justify-content: center;
    gap: 40px;

}

.contactContent {
    width: 400px;

}

.contactContent input,
label,
textarea {
    border: none;
    width: 100%;
    display: block;
    height: 2rem;
    font-family: 'Lato', sans-serif;

}

.contactContent textarea {
    border: none;
    width: 100%;
    height: 10rem;
}

#map {
    width: 100%;
    height: 20rem;
}

#portfolio {
    background-color: #d8d8d8;
    height: 9rem;
    text-align: center;
    padding-top: 4rem;
}

.proImg {
    max-width: 350px;
    min-width: 200px;

}

#jobs {
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
}

#jobsElement {
    display: flex;
    flex-direction: row;
    gap: 1em;
    border-top: #e6bd43;
    border-top-style: solid;
    border-top-width: 2px;
    padding-top: 2rem;
}


#branding {
    text-align: center;
    flex: 1;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;

}

.gridItems {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1rem;
    padding-bottom: 2rem;
    border-top: #e6bd43;
    border-top-style: solid;
    border-top-width: 2px;
    padding-top: 2rem;
    padding-left: 2rem;
    column-gap: 25px;
    row-gap: 15px;
    max-width: 100%;
    
    

}

#design {
    text-align: center;
    flex: 1;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;

}

#development {
    text-align: center;
    flex: 1;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;

}

footer {
    padding-top: 1rem;
    color: #d8d8d8;
    background-color: #252525;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-left: 1rem;
}

.footerElement {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    text-align: center;
    line-height: 28px;
    color: #fff;
}

#footerCopyright {
    font-weight: normal;
    text-align: center;
    padding-left: 4rem;
    padding-top: 5rem;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

#footerBar {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 1rem;
}

#footerLinks {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 1rem;

}